[submodule "em"]
	path = em
	url = https://github.com/gitrj95/em.git
[submodule "Spin"]
	path = Spin
	url = https://github.com/nimble-code/Spin.git
[submodule "ikos"]
	path = ikos
	url = https://github.com/NASA-SW-VnV/ikos.git
[submodule "AFLplusplus"]
	path = AFLplusplus
	url = https://github.com/AFLplusplus/AFLplusplus.git
