[submodule "em"]
	path = em
	url = https://github.com/gitrj95/em.git
[submodule "Spin"]
	path = Spin
	url = https://github.com/nimble-code/Spin.git
[submodule "ikos"]
	path = ikos
	url = https://github.com/NASA-SW-VnV/ikos.git
[submodule "AFLplusplus"]
	path = AFLplusplus
	url = https://github.com/AFLplusplus/AFLplusplus.git
[submodule "FlameGraph"]
	path = FlameGraph
	url = https://github.com/brendangregg/FlameGraph.git
[submodule "ply"]
	path = ply
	url = https://github.com/iovisor/ply.git
[submodule "cns-sysjitter"]
	path = cns-sysjitter
	url = https://github.com/Xilinx-CNS/cns-sysjitter.git
[submodule "cns-sfnettest"]
	path = cns-sfnettest
	url = https://github.com/Xilinx-CNS/cns-sfnettest.git
[submodule "cbmc"]
	path = cbmc
	url = https://github.com/diffblue/cbmc.git
[submodule "librj"]
	path = librj
	url = https://github.com/gitrj95/librj.git
